* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 10fr 1fr;
}
.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    background: whitesmoke;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}
.nav,.list,.footer, .header-list, .container{
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: column;
}
.card {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr;
    grid-template-rows: [y0]2fr [y1]1fr;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}
.card-title {
    text-align: center;
    grid-column: x0 / x4;
    grid-row: y0;
}
.card-button-add {
    grid-column: x0 / x1;
    grid-row: y1;
    background: #fafafa;
    border-style: none;
}
.card-button-remove {
    grid-column: x1 / x2;
    grid-row: y1;
    background: #fafafa;
    border-style: none;
}